doctype
html
  head
    title Boilerplate
    link(rel='stylesheet', href='css/main.css')
  body
    center
      i.fa.fa-thumbs-up.fa-5x
      h1 Pristine Harp Boilerplate
      p Running with Harp, Gulp, BrowserSync
